@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px 0px;
  background-color: rgb(249, 214, 155);
  font-family: "SUITE-Regular";
  font-size: 50px;
}

body {
  height: auto;
  width: 1170px;
  background-color: rgb(249, 214, 155);
}

header {
  height: 150px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
main {
  height: auto;
  width: 1170px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

#top {
  height: 150px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  line-height: 40px;
  color: rgb(6, 54, 188);
  font-family: "Prata", cursive;
}

#container {
  height: auto;
  min-height: 2232px;

  width: 1170px;

  background-color: rgb(249, 214, 155);
  position: relative;
  font-family: "SUITE-Regular";
}

#info {
  height: 25%;
  background-color: rgb(249, 214, 155);
  width: 100%;
  font-family: "SUITE-Regular";
}

#date {
  height: 20%;
  margin: 0 5%;
  line-height: 3rem;
  background-color: rgb(249, 214, 155);
  font-size: 1rem;
  font-family: "SUITE-Regular";
}

#weather {
  height: 15%;
  width: 90%;
  border-radius: 0.5rem;
  border-width: 5px;
  background-color: rgb(123, 158, 255);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -82% 0 0 -45%;
  font-family: "SUITE-Regular";
}

#temp {
  font-size: 1.2rem;
  height: 70%;
  width: 60%;
  margin: -13% 0 0 -45%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(123, 158, 255);
  border-radius: 0.5rem;
  border-width: 5px;
  font-family: "SUITE-Regular";
  line-height: 1.5rem;
}
#detail {
  background-color: rgb(123, 158, 255);
  border-radius: 0.3rem;
  border-width: 5px;

  width: 60%;
  margin: 10% 0 0 -45%;
  position: absolute;
  top: 30%;
  font-size: 0.7rem;
  left: 50%;
  font-family: "SUITE-Regular";
  line-height: 1rem;
}

#icon {
  position: absolute;
  height: 70%;
  width: 23%;
  border-radius: 7px;
  border-width: 5px;
  top: 50%;
  left: 50%;
  margin: -11% 0 0 20%;
}

#mid {
  height: 10%;
  width: 100%;

  background-color: rgb(255, 255, 255);
}
#img {
  height: 4%;
  width: 8%;
  z-index: 3;
  background-color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -44% 0 0 27%;
  transform: scaleX(-1);
}

#search {
  height: 5%;
  width: 80%;
  position: absolute;
  border-radius: 2rem;
  border-width: 5px;
  background-color: rgb(255, 255, 255);
  border: 0.05rem solid black;
  top: 50%;
  left: 50%;
  margin: -45% 0 0 -40%;
  font-family: "SUITE-Regular";
  text-align: left;
  line-height: 2.1rem;
  z-index: 2;
  color: gray;
  outline: none;
}
#bottom {
  background-color: rgb(249, 214, 155);
}

#chat {
  height: auto;
  background-color: rgb(255, 255, 255);

  width: 85%;

  position: absolute;

  margin-left: 7.5%;
  border-radius: 0.5rem;
  border-width: 5px;
  margin-top: 80%;
  margin-bottom: 5%;
}
#recommendation {
  height: 5%;

  line-height: 2.5rem;
  width: 80%;
  position: absolute;
  background-color: rgb(251, 242, 226);
  text-align: center;
  margin: 55% 0% 5% 10%;
}
.u {
  display: flex;

  margin: 3% 30% 0 3%;
}
#usericon {
  background-color: rgb(249, 214, 155);
  width: 15%;
  height: 90%;
  margin: 5%;
}
#user {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 5px;

  background-color: rgb(249, 214, 155);
}
#userchat {
  margin: 10%;
  float: left;

  font-family: "SUITE-Regular";
  background-color: rgb(249, 214, 155);
  line-height: 1.5rem;
}
.g {
  display: flex;
  margin: 3% 3% 3% 15%;
}
#gpt {
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);

  float: right;
  border-radius: 0.5rem;

  background-color: rgb(249, 214, 155);
}
#gptchat {
  margin: 10%;
  width: 80%;
  background-color: rgb(249, 214, 155);
  font-family: "SUITE-Regular";
  float: right;
  line-height: 1.5rem;
}
#gpticon {
  width: 10%;
  height: 7%;
  margin: 5%;
  background-color: rgb(249, 214, 155);
  float: right;
}
#blank {
  background-color: rgb(88, 61, 61);
}
#boxLoading {
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin-top: 10%;
}

a {
  margin: 10px;
  text-decoration-line: none;
}
